.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 20rem;
}

.main {
	height: 100%;
	width: 100%;
	max-width: 82.5rem;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
}

.title {
	display: flex;
	height: 12rem;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: var(--bg1);
}

.title > h1 {
	font-size: 4rem;
}

.footer {
	margin-top: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 2rem;
	background-color: var(--bg2);
}

.footer > p {
	font-size: 1rem;
}
