:root {
  --fg: #ffffff;
  --bg1: #000000;
  --bg2: #121212;
  --tool: #313131;
  --contributor: #6d1f70;
  --repo: #233199;
  --live: #207b2e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100dvh;
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--fg);
  background: var(--bg1);
  font-size: 1rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
